/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
*{box-sizing: border-box;}
body{min-width: 500px;}
.wrap {width:100%; float:left; margin:0 auto;}
.container {width:1002px; margin:0 auto;}

/*head*/
#logo {float:left; margin-top:10px;}
#menu {background:url(../images/common/menu_bar.png) no-repeat center top; height:43px; margin:0 0 0 248px; width:758px;}

#menu_left{float:left;}
#menu_left ul{margin:12px 0 0 20px;}
#menu_left ul li{margin:0 10px;}

#menu_right{float: right;width:230px;margin-top:12px;margin:12px 0 0 57px;}
#menu_right ul{float:right;}
#menu_right ul li{margin:0 0px;}

#header{margin-top:26px; position:absolute; z-index:100;}

#navi {float:left; text-align:center;}
#navi ul {clear:both; float:left;}
#navi ul li {clear:both; display:inline;}

/*gnb*/
#gnb {width:100%;}
#gnb:after {content:""; display:block; clear:both;}
#gnb li {width:auto; display:inline; float:left; font-size:0px; }
#gnb li ul:after {content:""; display:block; clear:both;}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*main*/

/* #event_main {background:url(../images/main/visual_bg.jpg) top #a2e9ff; border-bottom:4px solid #62b4fc;} */

#event_main {border-bottom:4px solid #62b4fc; height:503px;}
#event_main .container {width:100%; min-width:1000px; max-width:1510px; text-align:center;}
#event_main li {display:inline;}
#event_main img {margin:0 10px 10px 0;}

#bg{clear:both; margin-top:-112px;}

#main_link{}
#main_link ul li{float:left; margin-left:1px; margin:16px 1px 0 0px;}
#main_link span{margin-left:2px;}
#main_link table{padding-top:10px;}


#main_link2{margin-top:1px;}
#main_link2 ul li{float:left; margin-left:1px;}


#tour_container { display:none; position:relative; height:235px; top:0px; left:0px; }
#tour_container ul, #tour_container li, #tour_container div {float:left; line-height:0px; font-size:0px;}
	/* -------------------------------------------------------------- */
 
	#tour_image_container { width:600px; height:210px; overflow:hidden; position:absolute;}
	#tour_image_container ul { margin:0; padding:0; }
	#tour_image_container ul li { float:left; list-style:none; position:absolute;  }
	#tour_image_container ul li .image {} /*position:absolute; ie 8ï¿½ì¢ŽëŸ©ä¼Šìˆ‹ì˜™æï¿½ìˆ‹ì˜™ï¿½ãƒ«ï¿½å ìŽŒì¥™ï¿½â‘¼ì˜™ï§ãƒì‚•æ²ƒì„“ì˜™ï¿½ëºëœï¿½ìˆˆì‚•...ï¿½ì¢ŽëŸ©ä¼Šìˆ‹ì˜™ï¿½ï¿½ì‚•å ìŽˆë²Šï¿½ëºëœï¿½ëˆì¾´å ìŽˆë²¨ï¿½ìˆ…ë„«è‡¾ë¯ªêµ²...*/ 

	/* -------------------------------------------------------------- */
	
	#tour_nav_container { top:210px; position:absolute;  }
	
	#tour_nav_container div { position:absolute; }
	#tour_nav_container div ul { margin:0; padding:0; }
	#tour_nav_container div ul li { float:left; list-style:none; }
	
	#tour_nav_container div.nav_default { width:600px; }
	#tour_nav_container div.nav_default ul { width:600px; position:relative; }
	#tour_nav_container div.nav_default ul li { position:relative; }
	
	#tour_nav_container div.nav_over { width:75px; overflow:hidden; }
	#tour_nav_container div.nav_over ul { width:600px; position:relative; }
	#tour_nav_container div.nav_over ul li { position:relative; }
	#tour_nav_container div.nav_over ul li div { position:absolute; }
	#tour_nav_container div.nav_over ul li div.gp { background:#000000; }
	
	#tour_nav_container div.nav_line {}
	#tour_nav_container div.nav_line ul {}

	
	#tour_nav_container div.nav_square { width:600px; }
	#tour_nav_container div.nav_square ul { width:600px; }
	#tour_nav_container div.nav_square ul li { width:75px; height:25px; background:#fff; cursor:pointer; position:relative; } 


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*footer*/
#footer {border-top:1px solid #d0d0d0; margin-top:15px;}
#footer h1{width:64px; float:left;}
#footer .container {clear:both;}
#foot_left{float:left; width:100px; margin:15px 0 15px 0px;}
#foot_right{float:right; margin:15px 0 15px 0px;}


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*sub*/
#visual_sub {background:#e2e2e2;}
#visual_sub .container {background:url(../images/common/visual_sub.jpg) no-repeat center top; height:218px;}
#visual_sub #visual_sub_btn {position:relative; top:95px;}
#visual_sub #visual_sub_btn ul {position:absolute; width:237px;}
#visual_sub #visual_sub_btn ul li {display:inline; float:left;}
#visual_sub #visual_sub_btn #counsle {margin-top:20px;}

#snb {width:207px;}
#snb:after {content:""; display:block; clear:both;}
#snb li {width:207px; height:23px; display:block; font-size:0px; float:left; border-bottom:1px solid #d0d0d0; margin:5px 0px;}
#snb li ul:after {content:""; display:block; clear:both;}

#sub {margin-top:20px;}
#sub .container {width:1000px;}

#snavi {width:203px; float:left; }
#snavi h1 { margin-bottom:15px;}
#snavi ul { margin-bottom:30px;}

#contents {width:723px; float:right; margin:0px 20px 0 0px;}
#contents span{float:left; margin-right:10px;}
#contents h1 {width:300px; float:left; margin:7px 0 0 0px;}
.location{width:300px; float:right; text-align:right; margin:15px 0px 0 0px;}
.location li{background:url(../images/bullet02.gif) 1px 2px no-repeat; display:inline; padding-left:12px;}
.location .home{background:url(../images/bullet_home.jpg) -1px 2px no-repeat;}
#title{border-bottom:1px solid #c9c2d4; height:44px;}

#page {padding:40px 0 50px 0; width:100%; float:left;  min-height:480px;}
#page_board {clear:both; width:756px; float:left; min-height:480px;}

#quick ul li{margin-top:1px;}

/* ï¿½ê¿”êº‚ï¿½ï¿½ì˜™æï¿½ìˆƒì¥ˆï¿½ï¿½ëº§ì˜™é†«ë¬’ì‚• ï¿½ì¢Žë–¥ï¿½ï¿½ï¿½ìšƒëœï¿½ëˆë °å ìŽ„ì—¥ï¿½ì•­ëœå ï¿½ */
*{margin:0; padding:0;}
img{border:0 none;}
.slider_wrap{position:relative; margin:0 auto; width:1000px;}
.slider_wrap .prev,.slider_wrap .next{display:none; position:absolute; top:53%; margin-top:0px; padding:-10px 20px 0 0px; z-index:10;}
.slider_wrap .prev{left:510px; border-top-right-radius:6px; border-bottom-right-radius:6px;}
.slider_wrap .next{right:30px; border-top-left-radius:6px; border-bottom-left-radius:6px;}

.slider_show{overflow:hidden; width:1000px; position:relative;}
.slider_box{height:100%; margin-left:0; margin-top:85px;  height:497px;}

.slider_list{overflow:hidden; float:left; position:relative; width:1000px; height:467px;}
.slider_list .custom_pic{float:left;width:40%;height:100%;text-align:center;}
.slider_list .custom_pic img{}

.slider_nav{position:absolute; width:100%; bottom:30px; text-align:center; z-index:100; font-size:0;}
.slider_nav a{display:inline-block; width:12px; height:12px; margin:0 5px; border-radius:10px; background-color:#B5B5B5;}
.slider_nav a.on{background-color:#4295E8}

.btns{position:absolute;right:10px;bottom:10px;z-index:100}
.btns a{}


#visual{margin:0px 0 0 0px;}
#visual_main_bg {background:#dddddd; height:583px; padding-top:0px; }
#visual_main {background:url(../images/main/main_bg.jpg) no-repeat center top #dddddd;}





#mcon_rol {height:141px;}
#mcon_rol_box {position:relative; clear:both; width:310px; height:141px; }
#mcon_rol .section {position:absolute; width:100%; height:141px; text-align:center;}
#mcon_rol .nav {position:absolute; top:118px; left:14px; z-index:10;}
#mcon_rol .nav li {display:inline; float:left;}
#mcon_rol .nav img {width:15px; height:13px;}



/* UI Object */
.tbl_type,.tbl_type th,.tbl_type td{border:0}
.tbl_type{width:100%;border-bottom:1px solid #dddee2;font-family:'ï¿½ì¢ŽëŸ©ä¼Šìˆ‹ì˜™ç½æ´â„¡ëœï¿½ë‰ë§¶å ìŽŒì¥œï¿½ï¿½',dotum;font-size:12px;table-layout:fixed}
.tbl_type caption{display:none}
.tbl_type th{padding:8px 0 5px 20px;border-top:1px solid #dddee2;background:#f1f1f3;color:#666;font-weight:bold;text-align:left;vertical-align:top}
.tbl_type td{padding:8px 5px 5px 12px;border-top:1px solid #dddee2;line-height:16px;vertical-align:top}
/* //UI Object */


#produsts {clear:both; background:url(../images/sub/pro_bg.jpg) no-repeat; height:353px; width:709px; height:349px; border:2px solid #0054b4;}
.Limg {width:260px; float:right; overflow:hidden; padding:10px 0 0 0px; text-align:center;}
.Limg .inner {}
.Limg .inner:after {clear: both; content:""; display block;}
.Limg .inner .page2 {float:right; width:220px;}
.Limg .inner .page2 ul:after {clear:both; content:""; display:block;}
.Limg .inner .page2 ul {padding-top:10px;}
.Limg .inner .page2 li {float:right; margin:0px 10px 10px 0;}
.Limg .inner .page2 li img {width:238px; height:64px;}
.Limg .inner .page2 p {text-align:center;}
.main {float:left;	position:relative;}
.main img {position: absolute;}


/* UI Object */
.tbl_type2,.tbl_type2 th,.tbl_type2 td{border:0}
.tbl_type2 td{padding:8px 5px 5px 12px;border:1px solid #bfc1c9;line-height:16px; vertical-align:top}
/* //UI Object */

.textbox,textarea,input {border-color:#cfd1d4; background-color:#FFFFFF; border-style:solid; border-top-width:1px; border-right-width:1px; border-bottom-width:1px; border-left-width:1px; margin:2px 0px;}

@media screen and (max-width: 1030px) {
	#main_link2 a:link {
    	display: inline-block;
    	margin-left: 15px;
    	margin-bottom: 15px;
    }
    #contents{
    	margin: 0;
    	padding: 15px;
    }
    #contents,
	.container,
	.custom_pic{
		width: 100% !important;
	}
	#page .main img{
		max-width: none;
	}
	#visual_main_bg{
		height: auto;
		min-height: 100px;
	}
	.slider_wrap{
		display: none;
	}
	#main_link{
		padding: 15px;
	}
	#main_link ul li {
		float: left;
		padding: 0 15px 15px;
		text-align: center;
		width: 214px;
		}
    #main_link table tr > td > div{
    	padding-left: 15px;
    }
    #header {
        position: static;
        margin-top: 0;
    }
    #logo{
    	display: block;
    	float: none;
    	margin-bottom: 10px;
    	padding-left: 15px;
    }
    #menu{
    	background: rgba(254,254,254,1);
    	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(246,246,246,1) 50%, rgba(235,235,235,1) 100%);
    	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(50%, rgba(246,246,246,1)), color-stop(100%, rgba(235,235,235,1)));
    	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(246,246,246,1) 50%, rgba(235,235,235,1) 100%);
    	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(246,246,246,1) 50%, rgba(235,235,235,1) 100%);
    	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(246,246,246,1) 50%, rgba(235,235,235,1) 100%);
    	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(246,246,246,1) 50%, rgba(235,235,235,1) 100%);
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ebebeb', GradientType=0 );
    	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    	clear: both;
    	float: none;
    	width: 98%;
    	margin: 0 1%;
    	height: auto;
    	min-height: 43px;
    	padding-bottom: 10px;
    	z-index: 1;
    	position: relative;
    }

    #visual_sub{
    	margin-bottom: 100px;
    }

    #sub{
    	clear: both;
    	float: none;
    }

    #snavi{
    	float: none;
    }

    img{
    	max-width: 100%;
    }

    #visual_sub #visual_sub_btn ul{
    	display: none;
    }

    #snavi{
    	padding: 15px;
    }

    #snavi,
    #snb,
    #snb li{
    	width: 100%;
    }

}

@media screen and (max-width: 786px){
	#menu{
		min-height: 68px;
	}
}